[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = auto

[color "branch"]
  current = green
  remote = yellow

[credential]
#    helper = !aws --profile springconfig-backoffice codecommit credential-helper $@
    UseHttpPath = true

[core]
  # hooksPath = ~/.dotfiles/my_git_hooks
  pager = less -FRSX
	editor = code --wait
	excludesfile = ~/.gitignore

[alias]
  co = checkout
  st = status -sb
  br = branch
  ci = commit
  fo = fetch origin
  d = !git --no-pager diff
  dt  = difftool
  stat = !git --no-pager diff --stat

  # Clean merged branches
  sweep = !git branch --merged master | grep -v 'master$' | xargs git branch -d && git remote prune origin

  # http://www.jukie.net/bart/blog/pimping-out-git-log
  lg = log --graph --all --pretty=format:'%Cred%h%Creset - %s %Cgreen(%cr) %C(bold blue)%an%Creset %C(yellow)%d%Creset'

  # Serve local repo. http://coderwall.com/p/eybtga
  # Then other can access via `git clone git://#{YOUR_IP_ADDRESS}/
  serve = !git daemon --reuseaddr --verbose  --base-path=. --export-all ./.git

  m = checkout master

  # Removes a file from the index
  unstage = reset HEAD --

[help]
  autocorrect = 1

[push]
	default = simple

[branch "master"]
  mergeoptions = --no-edit

[user]
	email = clement.brice.alexis.boret@dnb.no
	name = clement
#	signingkey = 4F7CC96025216DE2

[include]
    path = ~/.gitconfig_local

[includeIf "gitdir:~/code/tutorials/"]
    path = ~/.dotfiles/gitoverride

[diff]
    tool = bc
[difftool "bc"]
    prompt = false
    keepBackup = false
    cmd = bcomp \"$LOCAL\" \"$REMOTE\"
[merge]
    tool = bc
[mergetool "bc"]
    prompt = false
    keepBackup = false
    cmd = bcomp \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
    trustExitCode = true

[init]
	defaultBranch = main

[commit]
#	gpgsign = true
